.main-timeline{
  margin: 0;
  padding: 100px;
  background-color: #90AEAD;
  
}
.timeline-title{
  height: 80px;
  color: #fff;
  text-align: center;
}

.timeline{
  position: relative;
  max-width: 1200px;
  /* margin: 100px auto; */
}
.timeline p{
  font-size: 12px!important;
}
.timeline-content{
  padding: 10px 50px;
  position: relative;
  width: 50%;
  /* background: rgba(0,0,0,0.3) ;
  border: 2px solid black; */
  animation: movedown 1s linear forwards;
  opacity: 0;
  z-index: 12!important;
}
@keyframes movedown{
  0%{
    opacity: 1;
    transform: translateY(-30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
.timeline-content:nth-child(1){
  animation-delay: 0s;
}
.timeline-content:nth-child(2){
  animation-delay: 1s;
}
.timeline-content:nth-child(3){
  animation-delay: 2s;
}
.timeline-content:nth-child(4){
  animation-delay: 3s;
}
.timeline-content:nth-child(5){
  animation-delay: 4s;
}
.timeline-content:nth-child(6){
  animation-delay: 5s;
}
.timeline-content:nth-child(7){
  animation-delay: 6s;
}
.text-box{
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.left-content{
  left: 0;
}
.right-content{
  left: 50%;
}
.timeline-content .img{
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 12!important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.right-content .img{
  left: -20px;
}
.timeline::after{
  z-index: 1!important;
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -5px;
  
  animation: moveline 6s linear forwards;
}
@keyframes moveline{
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}
.text-box h2{
  font-weight: 600;
}
.text-box small{
  display: inline-block;
  margin-bottom: 15px;
}
.left-content-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: -15px;
}
.right-content-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}

@media screen and (max-width: 767px){
  .main-timeline{
    margin: 0rem;
    padding: 0px;

  }
  .timeline{
    margin: 0px auto;
  }
  .timeline::after{
    left: 31px;
  }
  .timeline-content{
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box{
    font-size: 13px;
  }
  .text-box small{
    margin-bottom: 10px;
  }
  .right-content{
    left: 0;
  }
  .right-content .img,.left-content .img{
    left: 10px;
  }
  .right-content-arrow,.left-content-arrow{
    border-right: 15px solid #fff;
    border-left: 0px;
    left: -15px;
  }

}